
module pbis 1.0;

require {
	type chkpwd_t;
	type sshd_t;
	type system_dbusd_t;
	type var_lib_t;
        type postfix_pickup_t;
	type rpm_var_lib_t;
	type setroubleshootd_t;
	type init_t;
	class sock_file write;
	class unix_stream_socket connectto;
	class process { siginh noatsecure rlimitinh };
	class file write;
}

require {
        type policykit_auth_t;
        type policykit_t;
        type var_lib_t;
        class sock_file write;
        class process { siginh noatsecure rlimitinh };
}

#============= chkpwd_t ==============
allow chkpwd_t init_t:unix_stream_socket connectto;
allow chkpwd_t var_lib_t:sock_file write;

#============= setroubleshootd_t ==============
allow setroubleshootd_t rpm_var_lib_t:file write;

#============= sshd_t ==============
allow sshd_t chkpwd_t:process { siginh rlimitinh noatsecure };
allow sshd_t var_lib_t:sock_file write;

#============= system_dbusd_t ==============
allow system_dbusd_t setroubleshootd_t:process { siginh rlimitinh noatsecure };

#============= policykit_auth_t ==============
allow policykit_auth_t var_lib_t:sock_file write;

#============= policykit_t ==============
allow policykit_t policykit_auth_t:process { siginh rlimitinh noatsecure };

#============= postfix_pickup_t ==============
allow postfix_pickup_t init_t:unix_stream_socket connectto;
allow postfix_pickup_t var_lib_t:sock_file write;

