
module pbis 1.0;

require {
	type chkpwd_t;
	type init_t;
        type init_var_lib_t;
        type NetworkManager_t;
        type passwd_t;
        type policykit_auth_t;
        type policykit_t;
        type postfix_pickup_t;
	type rpm_var_lib_t;
	type setroubleshootd_t;
	type sshd_t;
	type system_dbusd_t;
        type user_home_t;
	type var_lib_t;
        class sock_file { write create unlink getattr };
	class unix_stream_socket connectto;
	class process { siginh noatsecure rlimitinh };
        class dir { write remove_name create add_name rmdir };
        class file { write read getattr open };
}


#============= chkpwd_t ==============
allow chkpwd_t init_t:unix_stream_socket connectto;
allow chkpwd_t var_lib_t:sock_file write;

#============= NetworkManager_t ==============
allow NetworkManager_t init_var_lib_t:file { read getattr open };

#============= passwd_t ==============
allow passwd_t init_t:unix_stream_socket connectto;
allow passwd_t user_home_t:dir { write remove_name create add_name rmdir };
allow passwd_t user_home_t:sock_file { write create unlink getattr };
allow passwd_t var_lib_t:sock_file write;

#============= setroubleshootd_t ==============
allow setroubleshootd_t rpm_var_lib_t:file write;

#============= sshd_t ==============
allow sshd_t chkpwd_t:process { siginh rlimitinh noatsecure };
allow sshd_t var_lib_t:sock_file write;

#============= system_dbusd_t ==============
allow system_dbusd_t setroubleshootd_t:process { siginh rlimitinh noatsecure };

#============= policykit_auth_t ==============
allow policykit_auth_t var_lib_t:sock_file write;

#============= policykit_t ==============
allow policykit_t policykit_auth_t:process { siginh rlimitinh noatsecure };

#============= postfix_pickup_t ==============
allow postfix_pickup_t init_t:unix_stream_socket connectto;
allow postfix_pickup_t var_lib_t:sock_file write;

