
module pbis 1.0;

require {
	type unconfined_t;
        type init_t;
        type initrc_t;
	type rpm_var_lib_t;
        type rpm_t;
	type automount_t;
	type passwd_t;
	type mount_t;
	type systemd_logind_t;
	type user_home_t;
	type policykit_t;
	type policykit_auth_t;
	type setroubleshootd_t;
	type var_lib_t;
	type chkpwd_t;
	type accountsd_t;
        type syslogd_t;
	type sshd_t;
        type unconfined_exec_t;
        type init_var_lib_t;
	type system_dbusd_t;
        type NetworkManager_t;
        type xdm_t;
	class process { siginh noatsecure rlimitinh };
	class unix_stream_socket connectto;
	class dir { write remove_name create add_name rmdir search };
	class file { read getattr write open entrypoint append create ioctl };
	class sock_file { write create unlink getattr };
        class fifo_file { ioctl open getattr append };
        role unconfined_r;
}

#============= accountsd_t ==============
allow accountsd_t unconfined_t:unix_stream_socket connectto;
allow accountsd_t var_lib_t:sock_file write;

#============= automount_t ==============
allow automount_t mount_t:process { siginh rlimitinh noatsecure };
allow automount_t unconfined_t:unix_stream_socket connectto;
allow automount_t var_lib_t:file { read open };
allow automount_t var_lib_t:sock_file write;

#============= chkpwd_t ==============
allow chkpwd_t unconfined_t:unix_stream_socket connectto;
allow chkpwd_t init_t:unix_stream_socket connectto;
allow chkpwd_t var_lib_t:sock_file write;

#============= init_t ==============
allow init_t unconfined_exec_t:file entrypoint;

#============= NetworkManager_t ==============
allow NetworkManager_t var_lib_t:file { read getattr open };

#============= passwd_t ==============
allow passwd_t user_home_t:dir { write remove_name create add_name rmdir };
allow passwd_t user_home_t:sock_file { write create unlink getattr };
allow passwd_t var_lib_t:sock_file write;

#============= policykit_auth_t ==============
allow policykit_auth_t unconfined_t:unix_stream_socket connectto;
allow policykit_auth_t var_lib_t:sock_file write;

#============= policykit_t ==============
allow policykit_t policykit_auth_t:process { siginh rlimitinh noatsecure };
allow policykit_t unconfined_t:unix_stream_socket connectto;
allow policykit_t var_lib_t:sock_file write;

#============= setroubleshootd_t ==============
allow setroubleshootd_t rpm_var_lib_t:file write;

#============= syslogd_t ==============
allow syslogd_t var_lib_t:fifo_file { ioctl open getattr append };
allow syslogd_t init_var_lib_t:fifo_file { getattr ioctl append };
allow syslogd_t init_var_lib_t:file { create append ioctl open getattr };
allow syslogd_t init_var_lib_t:dir { write add_name search };

#============= sshd_t ==============
allow sshd_t chkpwd_t:process { siginh rlimitinh noatsecure };
allow sshd_t var_lib_t:sock_file write;

#============= system_dbusd_t ==============
allow system_dbusd_t setroubleshootd_t:process { siginh rlimitinh noatsecure };
allow system_dbusd_t rpm_t:process { siginh rlimitinh noatsecure };

#============= systemd_logind_t ==============
allow systemd_logind_t unconfined_t:unix_stream_socket connectto;
allow systemd_logind_t var_lib_t:sock_file write;

#============= xdm_t ==============
allow xdm_t var_lib_t:sock_file write;
allow xdm_t chkpwd_t:process { siginh rlimitinh noatsecure };
allow xdm_t unconfined_t:process { siginh noatsecure };

#============= ROLES ==============
role unconfined_r types init_t;
role unconfined_r types initrc_t;
