Source: likewise-open
Section: net
Priority: optional
XSBC-Original-Maintainer: Gerald Carter <gcarter@likewisesoftware.com>
Maintainer: Ubuntu MOTU Developers <ubuntu-motu@lists.ubuntu.com>
Build-Depends: libpam0g-dev, uuid-dev,
 dpkg-dev (>= 1.13.9), libpam-runtime (>= 0.76-13.1), debhelper (>= 5),
 autoconf (>=2.53), libglade2-dev, automake, quilt, automake,
 libncurses5-dev, flex, bison, libssl-dev, libtool
Standards-Version: 3.7.3
Vcs-Browser: http://lobugs.likewisesoftware.com/
Homepage: http://www.likewisesoftware.com/

Package: likewise-open
Architecture: any
Depends: likewise-open-domainjoin
Recommends: ${likewise-open:Recommends}
Provides: domain-lsa-service
Conflicts: domain-lsa-service
Replaces: domain-lsa-service
Description: Authentication services for Active Directory Domains
 Likewise Open provides a means of integrating Unix desktops and servers
 into an Active Directory (AD) environment by providing a means for hosts
 to join the domain as member servers and make the Windows users and groups
 available to other Unix applications and services via the PAM and Name
 Service Switch libraries.

Package: likewise-open-libs
Architecture: any
Depends: ${shlibs:Depends}
Description: Base libraries required by likewise-open applications
 
Package: likewise-open-lsass
Architecture: any
Depends: likewise-open-libs, likewise-open-rpc, likewise-open-netlogon,
 likewise-open-eventlog, libpam-runtime (>= 0.76-13.1), libpam-modules
Description: Likewise Security Authority Service
 
Package: likewise-open-eventlog
Architecture: any
Depends: likewise-open-libs, likewise-open-rpc
Recommends: likewise-open-lsass
Description: Likewise Auditing and Logging Service
 
Package: likewise-open-netlogon
Architecture: any
Depends: likewise-open-libs, likewise-open-rpc
Recommends: likewise-open-lsass
Description: Likewise DC location service
 
Package: likewise-open-rpc
Architecture: any
Depends: likewise-open-libs
Description: Likewise DCE/RPC runtime environment and application libraries
 
Package: likewise-open-domainjoin
Architecture: any
Depends: likewise-open-lsass
Recommends: likewise-open-domainjoin-gui, ${perl:Depends}
Description: Likewise CLI utility for joining Active Directory domains
 
Package: likewise-open-domainjoin-gui
Architecture: any
Depends: likewise-open-domainjoin
Replaces: likewise-open-gui
Description: Likewise graphical desktop utility for joining Active Directory domains
 
