[Desktop Entry]
Encoding=UTF-8
Name=Likewise
Comment=Connect to Active Directory Domains
Exec=/usr/bin/gksu /usr/bin/domainjoin-gui
Terminal=false
Type=Application
Icon=/usr/share/icons/likewise-gui.xpm
Categories=System;Settings;
OnlyShowIn=GNOME;XFCE;
