<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
	"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.likewisesoftware.lwsmd</string>
        <key>OnDemand</key>
        <true/>
        <key>RunAtLoad</key>
        <true/>
	<key>ProgramArguments</key>
	<array>
                <string>/bin/sh</string>
                <string>-c</string>
                <string>( sleep 0.5; while [ ! -e "/var/lib/likewise/.lwsm" ]; do sleep 0.5; done; /opt/likewise/bin/lwsm autostart ) &amp; exec /opt/likewise/sbin/lwsmd</string>
	</array>
        <key>EnvironmentVariables</key>
            <dict>
                <key>LC_MONETARY</key>
                <string>en_US.utf-8</string>
                <key>LC_NUMERIC</key>
                <string>en_US.utf-8</string>
                <key>LC_ALL</key>
                <string>en_US.UTF-8</string>
                <key>LC_MESSAGES</key>
                <string>en_US.utf-8</string>
                <key>LC_COLLATE</key>
                <string>en_US.utf-8</string>
                <key>LC_CTYPE</key>
                <string>en_US.utf-8</string>
                <key>LC_TIME</key>
                <string>en_US.utf-8</string>
                <key>LD_LIBRARY_PATH</key>
                <string></string>
            </dict>
</dict>
</plist>
