<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Likewise Domain Join</string>
	<key>CFBundleIconFile</key>
	<string>DomainJoin</string>
	<key>CFBundleIdentifier</key>
	<string>com.likewise.DomainJoin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Likewise Domain Join</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>CnTs</string>
	<key>CFBundleVersion</key>
	<string>6.2.0</string>
	<key>CSResourcesFileMapped</key>
	<true/>
</dict>
</plist>
