<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mcx_application_data</key>
	<dict>
		<key>com.apple.MCX</key>
		<dict>
			<key>Forced</key>
			<array>
				<dict>
					<key>mcx_preference_settings</key>
					<dict>
						<key>com.apple.cachedaccounts.CreateAtLogin</key>
						<false/>
						<key>com.apple.cachedaccounts.WarnOnCreate</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
		<key>com.apple.dock</key>
		<dict>
			<key>Forced</key>
			<array>
				<dict>
					<key>mcx_preference_settings</key>
					<dict>
						<key>AppItems-Raw</key>
						<array/>
						<key>DocItems-Raw</key>
						<array/>
						<key>MCXDockSpecialFolders-Raw</key>
						<array>
							<string>AddDockMCXOriginalNetworkHomeFolder</string>
						</array>
						<key>contents-immutable</key>
						<false/>
						<key>static-only</key>
						<false/>
					</dict>
					<key>mcx_union_policy_keys</key>
					<array>
						<dict>
							<key>mcx_input_key_names</key>
							<array>
								<string>AppItems-Raw</string>
							</array>
							<key>mcx_output_key_name</key>
							<string>static-apps</string>
							<key>mcx_remove_duplicates</key>
							<true/>
						</dict>
						<dict>
							<key>mcx_input_key_names</key>
							<array>
								<string>DocItems-Raw</string>
							</array>
							<key>mcx_output_key_name</key>
							<string>static-others</string>
							<key>mcx_remove_duplicates</key>
							<true/>
						</dict>
						<dict>
							<key>mcx_input_key_names</key>
							<array>
								<string>MCXDockSpecialFolders-Raw</string>
							</array>
							<key>mcx_output_key_name</key>
							<string>MCXDockSpecialFolders</string>
							<key>mcx_remove_duplicates</key>
							<true/>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<key>loginwindow</key>
		<dict>
			<key>Forced</key>
			<array>
				<dict>
					<key>mcx_preference_settings</key>
					<dict>
						<key>AutoLaunchedApplicationDictionary-raw</key>
						<array>
							<dict>
								<key>AuthenticateAsLoginUserShortName</key>
								<true/>
								<key>MCX-NetworkHomeDirectoryItem</key>
								<true/>
							</dict>
						</array>
						<key>DisableLoginItemsSuppression</key>
						<false/>
						<key>LoginUserMayAddItems</key>
						<true/>
					</dict>
					<key>mcx_union_policy_keys</key>
					<array>
						<dict>
							<key>mcx_input_key_names</key>
							<array>
								<string>AutoLaunchedApplicationDictionary-raw</string>
							</array>
							<key>mcx_output_key_name</key>
							<string>AutoLaunchedApplicationDictionary-managed</string>
							<key>mcx_remove_duplicates</key>
							<true/>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
